.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	
	
}
#headshot img {
	border-radius: 200px;
	/* width: 100%; */
	min-width: 120px;
	max-width: 200px;
	max-height: 120px;
}

#name {
	margin-left: 70px;
	/* float: left; */
	display: flex;
	flex-flow: column nowrap;
}

/* #contactDetails {
	float: right;
} */

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}


/* -----------------começa aqui--------------------- */

html{
	font-family: 'Helvetica' ,sans-serif ;

}

body{
	font-family: 'Lato' ,sans-serif ;
	background-color: #f3f3f3;

	margin-top: 120px;
	margin-left: 200px;
	margin-right: 200px;
}

h1, h2 ,h3, .sectionTitle p{
	color: #444444;
}

.color2 {
	color: #181818;
}

.mainDetails{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	border-bottom: 2px solid #cf8a05;
	margin-bottom: 25px;
}


/* section{
	border: 2px solid red;
} */

#flex{
	display: flex;
}


#mainArea .sectionTitle h1,#mainArea .sectionTitle h2{
	color: #cf8a05;
	font-family: 'Arial', sans-serif;
}

.sectionContent ul{
	display: flex;
	justify-content: space-evenly;
	flex-flow: column wrap;
	max-height: 52px;
	
}

.sectionContent ul li{
	list-style: none;
	height:10px;
	margin-bottom: 7px;
	margin-right: 12px;
}

ul li{
	list-style: none;
}

section{
	border-bottom:  1px #dedede solid;
}

@media (max-width: 500px){
	body{
		font-size: small;
		margin: 10px;
	}
	#mainArea section {
		display: flex;
		flex-flow: column wrap;
	}
	#mainArea section > div{
		min-width: 250px;
	}
	/* #contactDetails ul{
		display: none;
	} */

	h1,h2,h3{
		margin: 0px;
	}
}
